/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333; // Dark gray for professional contrast
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600; // Bold for headings
  color: #000; // Black for headings
}

button, input, textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

