<app-page-loader [isLoading]="isLoading"></app-page-loader>

<div *ngIf="!isLoading">
    <div class="container">
        <div class="box" *ngFor="let item of dashboardItems">
            <h3>{{ item.value }}</h3>
            <p>{{ item.label }}</p>
        </div>
    </div>

    <h2>Recent Loans</h2>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Loan ID Column -->
            <ng-container matColumnDef="loanId">
                <th mat-header-cell *matHeaderCellDef> Loan ID </th>
                <td mat-cell *matCellDef="let loan"> {{loan.loanId}} </td>
            </ng-container>

            <!-- Customer Name Column -->
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let loan"> {{loan.customerName}} </td>
            </ng-container>

            <!-- Loan Type Column -->
            <ng-container matColumnDef="loanType">
                <th mat-header-cell *matHeaderCellDef> Loan Type </th>
                <td mat-cell *matCellDef="let loan"> {{loan.loanType}} </td>
            </ng-container>

            <!-- Last Payment Column -->
            <ng-container matColumnDef="lastPayment">
                <th mat-header-cell *matHeaderCellDef> Last Payment </th>
                <td mat-cell *matCellDef="let loan"> {{loan.lastPayment}} </td>
            </ng-container>

            <!-- Payment Due Column -->
            <ng-container matColumnDef="paymentDue">
                <th mat-header-cell *matHeaderCellDef> Payment Due </th>
                <td mat-cell *matCellDef="let loan"> {{loan.paymentDue}} </td>
            </ng-container>

            <!-- Loan Status Column -->
            <ng-container matColumnDef="loanStatus">
                <th mat-header-cell *matHeaderCellDef> Loan Status </th>
                <td mat-cell *matCellDef="let loan" [ngClass]="{
                'active': loan.loanStatus === 'Active',
                'risk': loan.loanStatus === 'Risk',
                'inactive': loan.loanStatus === 'Inactive'
            }"> {{loan.loanStatus}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <h2>Recent Customers</h2>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Loan ID Column -->
            <ng-container matColumnDef="loanId">
                <th mat-header-cell *matHeaderCellDef> Loan ID </th>
                <td mat-cell *matCellDef="let loan"> {{loan.loanId}} </td>
            </ng-container>

            <!-- Customer Name Column -->
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let loan"> {{loan.customerName}} </td>
            </ng-container>

            <!-- Loan Type Column -->
            <ng-container matColumnDef="loanType">
                <th mat-header-cell *matHeaderCellDef> Loan Type </th>
                <td mat-cell *matCellDef="let loan"> {{loan.loanType}} </td>
            </ng-container>

            <!-- Last Payment Column -->
            <ng-container matColumnDef="lastPayment">
                <th mat-header-cell *matHeaderCellDef> Last Payment </th>
                <td mat-cell *matCellDef="let loan"> {{loan.lastPayment}} </td>
            </ng-container>

            <!-- Payment Due Column -->
            <ng-container matColumnDef="paymentDue">
                <th mat-header-cell *matHeaderCellDef> Payment Due </th>
                <td mat-cell *matCellDef="let loan"> {{loan.paymentDue}} </td>
            </ng-container>

            <!-- Loan Status Column -->
            <ng-container matColumnDef="loanStatus">
                <th mat-header-cell *matHeaderCellDef> Loan Status </th>
                <td mat-cell *matCellDef="let loan" [ngClass]="{
                'active': loan.loanStatus === 'Active',
                'risk': loan.loanStatus === 'Risk',
                'inactive': loan.loanStatus === 'Inactive'
            }"> {{loan.loanStatus}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>